body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 auto;
	font-family: 'Archivo Narrow', sans-serif;
}

.vt323-regular {
	font-family: 'VT323', monospace;
	font-weight: 400;
	font-style: normal;
}

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 400 to 700 */

/* .archivo-narrow-standard {
  font-family: "Archivo Narrow", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

header div {
	display: flex;
}

header div h1 {
	margin: 20px auto;
}

.header-one {
	justify-content: space-between;
	margin: 10px 10px 10px 10px;
}

.header-two {
	flex-direction: column;
	align-items: center;
	margin: 0 0 20px 0;
}

.category-title {
	border-right: 1px solid;
	padding-right: 10px;
	margin-right: 10px;
}

.category-title:last-of-type {
	border-right: 0;
	padding-right: 0;
	margin-right: 0;
}

.main-background {
	margin: 0 0 20px 0;
}

.main-background img {
	display: block;
	width: 100%;
	height: auto;
}

.wrapper-work {
	margin: auto 10px;
}

.work-sect,
.footer-sect {
	display: inline-block;
}
.work-sect {
	padding: 25px 0 0 10px;
}

.work-title {
	margin: 15px 0px 10px 0px;
}

.work-subtitle {
	text-align: center;
}

.work-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.work-content {
	width: 80%;
	max-width: 800px;
}

.work-text {
	margin: 0 0 20px 0;
}

.work-text:last-child {
	margin: 0 0 15px 0;
}

.work-cta {
	display: flex;
	justify-content: center;
}

.icon-social {
	font-size: 30px;
}

footer {
	padding: 75px 10px 10px 10px;
	margin-top: auto;
}

a {
	text-decoration: none;
	color: #000000;
}

main a:hover,
.social-mail-wrapper a:hover {
	text-decoration: none;
	color: #000000;
	transition: opacity 0.5s;
	opacity: 0.5;
}

.social-icons-wrapper a:hover {
	transition: transform 0.3s;
	transform: scale(1.1, 1.1);
}

.social-icons-wrapper {
	gap: 5px;
}

footer div {
	display: flex;
	flex: 1;
}

.footer-social,
.work-container {
	border-top: 1px solid lightgrey;
	padding: 10px 0 0 0;
}

.social-mail-wrapper {
	justify-content: center;
}

.social-mail-box {
	flex-direction: column;
	align-items: center;
}

.footer-social div:last-of-type {
	justify-content: flex-end;
}
